#pont1 {
    margin-top: 400px;
    margin-bottom: 280px;
    margin-left: 25px;
    margin-right: 650px;
  }

  #pont2 {
    margin-top: 450px;
    margin-bottom: 350px;
    margin-left: 25px;
    margin-right: 400px;
  }
